@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

@import "tailwindcss";

@theme {
  --color-prime-green: #74d99f;
  --color-neat-900: #202529;
  --color-neat-700: #495056;
  --color-neat-500: #858d96;
  --color-neat-400: #adb5bd;

  --font-bebas: "Bebas Neue", "sans-serif";
  --font-anton: "Anton", "sans-serif";
  --font-koho: "KoHo", "sans-serif";
  --font-poiret: "Poiret One", "sans-serif";
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.koHo-regular {
  font-family: "KoHo", serif;
  font-weight: 400;
  font-style: normal;
}

.anton-regular {
  font-family: "Anton", serif;
  font-weight: 400;
  font-style: normal;
}
